body{
    background-color:bisque;
}
img {
    width: 100px;
    border-radius: 100%;
    height:100px;
}
p{
    color: blue;
}
.first_para{
    color: red;
}
.red_apple{
    background-color:green;
    position: sticky;
    bottom: 10px;
    left: 10px;
}
.green_apple{
    background-color:red;
}
#special{
    font-weight:bold;
    color: goldenrod;
    background-color: rgb(100, 30, 120);
}
.ekGroup,h1 {
        background-color: rgb(38,229,181);
        color: rgb(218, 32, 113);
        font-weight: bold;
}
.apple{
    color: gold;
    color: darkgreen;
    font: bold;
}

.firstBox{
    background-color: red;
    height: 100px;
    width: 100px;
}
.secondBox{
    background-color: green;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 90px;
    left: 10px;
}
    
.thirdBox{
    background-color:blue;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 180px;
    left: 20px;
}
